In [7]:
import pandas as pd

# Путь к файлу
file_path = '../Task2/big_data_course/datasets/dtp201804.csv'

# Чтение файла с различными параметрами
data = pd.read_csv(file_path, sep=',', encoding='utf-8', on_bad_lines='skip')


# Вывод первых строк датасета
data.head()

                                                                        reg_code;reg_name;road_code;road_name;road_type;oktmo;address;crash_type_name;crash_date;crash_time;crash_reason;fatalities_amount;victims_amount;vehicles_amount;participants_amount;latitude;longitude
46;Московская область;;мкр. Авиационный-Лямцино... Московская область     Городской округ Домодедово;Опрокидывание;2018...
53;Оренбургская область;53К-2118000;Обход г. Ор... Оренбургская область   Оренбург;Наезд на препятствие;20181231;23:55:...
46;Московская область;А-107;"""Московское малое... Московская область     Дмитровский район;Опрокидывание;20181231;23:4...
35;Республика Крым;35Н-076;Симферополь - Севаст... Республика Крым        Бахчисарайский район;Наезд на пешехода;201812...
26;Республика Ингушетия;Р-217;"""Кавказ"" автом... Республика Ингушетия   Назрановский;Столкновение;20181231;21:50:00;В...

In [8]:
# Путь к файлу
file_path_1 = '../Task2/big_data_course/datasets/aggrigation_logs_per_week.csv'

# Чтение файла с различными параметрами
data_1 = pd.read_csv(file_path_1, sep=',', encoding='utf-8', on_bad_lines='skip')


# Вывод первых строк датасета
data_1.head()

,courseid,userid,num_week,s_all,s_all_avg,s_course_viewed,s_course_viewed_avg,s_q_attempt_viewed,s_q_attempt_viewed_avg,s_a_course_module_viewed,...,s_a_submission_status_viewed_avg,NameR_Level,Name_vAtt,Depart,Name_OsnO,Name_FormOPril,LevelEd,Num_Sem,Kurs,Date_vAtt
0,71262,34527,6,9,9,4,4,0,0,0,...,0,3,Экзамен,22,1,1,1,2,2,18.06.2022
1,71262,34527,7,0,"4,5",0,2,0,0,0,...,0,3,Экзамен,22,1,1,1,2,2,18.06.2022
2,71262,34527,8,0,3,0,"1,3333",0,0,0,...,0,3,Экзамен,22,1,1,1,2,2,18.06.2022
3,71262,34527,9,0,"2,25",0,1,0,0,0,...,0,3,Экзамен,22,1,1,1,2,2,18.06.2022
4,71262,34527,10,0,"1,8",0,"0,8",0,0,0,...,0,3,Экзамен,22,1,1,1,2,2,18.06.2022